@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e0eaff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2376b1d6' fill-opacity='0.65' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  min-height: 100vh;
  font-family: "Merriweather", serif;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(23, 34, 33);
  text-align: center;
}

.quote-container {
  width: auto;
  max-width: 900px;
  margin: 1rem;

  background-color: rgba(227, 245, 250, 0.733);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.quote-text {
  font-size: 2rem;
  text-transform: capitalize;
  color: rgba(1, 36, 68, 0.918);
}
.long-quote-text {
  font-size: 1.5rem;
}
.fa-quote-left {
  font-size: 4rem;
  color: rgb(79, 90, 94, 0.5);
}

.quote-author {
  font-size: 1.4rem;
  margin-top: 16px;
  color: rgb(79, 90, 94, 0.8);
}

.btn-container {
  margin-top: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  padding: 4px 8px;
  background: rgb(14, 13, 13, 0.9);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 1.5rem;
  outline: none;
  box-shadow: 0 0.3rem rgb(100, 100, 100);
}
.btn:hover {
  filter: brightness(130%);
}
.btn:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.281);
}
.twitter-btn {
  color: aqua;
  font-size: 2rem;
  width: 100px;
}

/* loader */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* media query  */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 16px;
    min-width: 300px;
  }
  .quote-text {
    font-size: 1.5rem;
  }
  .fa-quote-left {
    font-size: 3rem;
  }
}
