* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}

.videobox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}

.preloader {
  display: block;
  z-index: 33;
}
.hide-preloader {
  display: none;
  z-index: -99;
}
.box {
  z-index: 40;
}
h1 {
  color: white;
}
